<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          required
          [(ngModel)]="cliente.nombre"
          name="nombre"
        />
      </div>
      <div class="form-group">
        <label for="genero">Genero</label>       
      <select #genero (change)="onSelectedGenero(genero.value)"   id="genero" [(ngModel)]="cliente.genero" class="form-control">
        <option default>Seleccione Genero</option>
        <option>Masculino</option>
        <option>Femenino</option>
        <option>Otro</option>
      </select>
    </div>

       
      <div class="form-group">
        <label for="numero_identificacion">Numero Documento</label>
        <input
          type="text"
          class="form-control"
          id="numero_identificacion"
          required
          [(ngModel)]="cliente.numero_identificacion"
          name="numero_identificacion"
        />
      </div>
      
    
      <div class="form-group">
        <label for="numero_documento"></label>    
        <div class="form-group">
          <label for="tipo_documento">Tipo Documento</label>       
          <select #tipodoc (change)="onSelectedTipoDoc(tipodoc.value)"   id="tipo_documento" [(ngModel)]="cliente.tipo_identificacion" class="form-control">
            <option default>Seleccione Documento</option>
            <option>CC</option>
            <option>CE</option>
            <option>NIT</option>
            <option>TI</option>
          </select>
     
      </div>
       
        <button (click)="saveCliente()" class="btn btn-success">GUARDAR</button>
      </div>
  
      </div>
    
    </div>

  </div>

