<div>
  <nav class="navbar navbar-dark bg-dark justify-content-end">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="ListarClientes" class="navbar-brand">Clients</a>
      </li>
      <li class="nav-item">
        <a routerLink="IngresarClientes" class="navbar-brand">Clients Look History</a>
      </li>
      <li class="nav-item">
        <a routerLink="DetalleClientes" class="navbar-brand">Emergency Pin Configuration</a>
      </li>
      <li class="nav-item">
        <a routerLink="DetalleClientes" class="navbar-brand">Emergency Pin History</a>
      </li>
    </div>

    
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>