
  <div class="edit-form">
    <h4>Edicion Cliente</h4>
    <form>
      <div class="form-group">
        <label for="nombre">Numero identificación</label>
        <input
          type="text"
          class="form-control"
          id="numero_identificacion"
          [(ngModel)]="currentCliente.numero_identificacion"
          name="numero_identificacion"
        />
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          [(ngModel)]="currentCliente.nombre"
          name="nombre"
        />
      </div>

      <div class="form-group">
        <label for="numero_documento"></label>    
        <div class="form-group">
          <label for="tipo_documento">Tipo Documento</label>       
          <select #tipodoc (change)="onSelectedTipoDoc(tipodoc.value)"   id="tipo_documento" [(ngModel)]="currentCliente.tipo_identificacion" class="form-control">
            <option default>Seleccione Documento</option>
            <option>CC</option>
            <option>CE</option>
            <option>NIT</option>
            <option>TI</option>
          </select>
     
      </div>
      <div class="form-group">
          <label for="genero">Genero</label>       
        <select #genero (change)="onSelectedGenero(genero.value)"   id="genero" [(ngModel)]="currentCliente.genero" class="form-control">
          <option default>Seleccione Genero</option>
          <option>Masculino</option>
          <option>Femenino</option>
          <option>Otro</option>
        </select>
      </div>

      <div class="form-group">
    <button
      type="submit"
      class="btn-primary"
      (click)="actualizarClientes()"
    >
      Actualizar
    </button>
    &nbsp;
    &nbsp;
    <button
    type="submit"
    class="btn-primary"
    (click)="back()"
  >
    Atras
  </button>
      </div>

    <p>{{ message }}</p>
  </div>

</form>